

<form action = "{% url 'aplicar_registro' %}" method = "post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Data" class="form-label">Data</label>
      <input type="date" class="form-control" name="data" >
      
    </div>

    <div class="mb-3">
      <label for="oqfoifeito" class="form-label">O que foi feito?</label>
      <input type="text" class="form-control" name ="oqfoifeito" placeholder="blabla" value = "blabla">
    </div>
    
    <button type="submit" class="form-control-sm">Submit</button>
  </form>